<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserCheck</servlet-name>
  	<display-name>UserCheck</display-name>
  	<description></description>
  	<servlet-class>com.bridgelabz.ScriptServlet.UserCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logincheck</servlet-name>
  	<display-name>Logincheck</display-name>
  	<description></description>
  	<servlet-class>com.bridgelabz.ScriptServlet.Logincheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checker</servlet-name>
  	<display-name>checker</display-name>
  	<description></description>
  	<servlet-class>com.bridgelabz.ScriptServlet.checker</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserCheck</servlet-name>
  	<url-pattern>/UserCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logincheck</servlet-name>
  	<url-pattern>/Logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checker</servlet-name>
  	<url-pattern>/checker</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
